* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
.btn {
 background: linear-gradient(to left,#c79e87,#be9278);
  padding: 25px 50px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease-in ;
}
.btn:hover{
  background: linear-gradient(to right,#c79e87,#be9278);
}
/*-------------------------loader-----------------------------------------*/

.preloader {
  height: 100vh;
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.preloader-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /* transform: translate(-50%, -50%); */
  /* margin: -50px -50px; */
  border: 1px solid #fff;
  border-top-color: #BE9278;
  animation: spin 2s infinite;

}

.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }

}
/*--------Header Styling-------------*/
.fixed-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  animation: fadeInDown 300ms;
}

header {
  background-color: #fff;
}
@keyframes fadeInDown{
   from{
     transform:translateY(-30px);
     opacity: 0;
   }
   to{
    transform: translateY(100px);
    opacity: 1;
   }
}
header .logo {
  float: left;
  padding: 30px 0px 0px 60px;
}
header nav {
  float: right;
}
header nav ul {
  list-style-type: none;
  display: inline-block;
}
header ul li {
  display: inline-block;
  padding: 0px 25px;
}
header ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #101a31;
}
header ul li a:hover{
  color: #be9278;
}
.Visit-us {
  display: inline-block;
  padding: 30px 65px;
  color: #fff;
  background-color: #be9278;
  margin-left: 80px;
}
/*-----Hero styling-----------*/
.hero-section {
  height: 850px;
  background: linear-gradient(
      to right,
      rgba(16, 26, 48, 0.7) 0%,
      rgba(16, 26, 48, 0.7) 12%,
      #101a31 91%,
      #101a31 100%
    ),
    url("images/h1_hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-section .hero-content {
  position: absolute;
  color: #fff;
  left: 10%;
  top: 20%;
  width: 40%;
}
.hero-content img {
  margin-bottom: 30px;
  animation: spain 20s linear infinite;
}


.hero-content h1 {
  font-size: 76px;
  line-height: 83.6px;
  font-weight: 600;
}
.hero-content p {
  width: 78%;
  line-height: 30px;
  margin: 20px 0px 30px 0px;
}
.hero-section .hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 750px;
}
.hero-img img {
  height: 100%;
  width: 660px;
}
/* ---------- main--------------*/
main {
    width: 80% ;
    margin: 100px auto;
}
main .offer {
    display: inline-block;
    width: 33%;
}
.offer-container{
  overflow: hidden;
}
.offer-img{padding: 40px;
  width: 100%;
 

}
.offer-img ,.offer-content span,.offer-content h3{
  transition: all 0.3s ease-in-out;
}


.offer-content{
    position: relative;
    padding: 0px 40px;
    transition: color 0.3 ease-in-out;
}
.offer-content span{
    width: 35px;
    height: 35px;
    background-color: #be9278;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    top: 1px;
    left: -20px;
    position: absolute;
    transition: background-color 0.3s ease-in-out , color 0.3 ease-in-out;
}

.offer-content h3{
    font-weight: 600;
    font-size:30px ;
    line-height: 60px;
    color: #101a31;
    transition: color 0.3s ease-in-out;
}
.offer-content p{
    color: #101a31;
    font-size: 16px;
    font-weight: 400;
    width: 85%;
    line-height: 30px;

}
.offer:hover  img{
  transform: scale(1.05);
}
.offer:hover .offer-content span{
background-color: transparent;
color: #be9278;
border: 0.1px solid #be9278;
}
.offer:hover .offer-content h3{
  color: #be9278;
  text-decoration: none;
}
@keyframes fadeInUp{
  from{
    transform: translateY(300px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
/*-------about us--------*/
.about-us{
    width: 80%;
    margin: 100px auto;
    height: 800px;
position: relative;
}
.about-img{
    position: absolute;
    z-index: 5;

    top: 13%;
}
.about-img img{
    width: 660px;
    height: 520px;
}
.about-content{
    position: absolute;
    right: 0;
    background-color:#f2e1d9 ;
    width: 70%;
    height: 100%;
}
.about-data{
    position: absolute;
    top: 18%;
    left: 40%;
}
.about-content h1{
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 600;
}
.first-paragraph{
    line-height: 30.6px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: #101a44;
    width: 90%;
    margin: 20px 0;
}
.second-paragraph{
    line-height: 30px;
    letter-spacing: 0.7px;
    font-weight: 400;
    font-size: 14px;
    color:#10285d ;
    width: 90%;
    margin: 20px 0 35px;
}
/*-------------------services-----------------------------*/
.Services{
    width: 80%;
    margin: 80px auto;
    height: 350px;
    text-align: center;
       
}
.Services-header{
  text-align: center;
  margin-bottom: 5%;
  
}
.Services-card{
    width: 24%;
    
    margin-right: 4px;
}
.Services .Services-card{
    display: inline-block;
}
.Services-header h2,.contact-head h2{
  line-height: 74.2px;
  font-weight: 600;
  font-size: 53px;
  color: #101a31;
}

.Services-header p , .contact-head p{
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #101a31;
  width: 50%;
}
.Service-img{
  width: 58px;
  height: 58px;
  margin-left: 5%;
  margin-bottom: 12%;
}
.service-content{
  margin-top: 15px;
}
.service-content h3{
  margin-top: 15px;
text-align: left;
  line-height: 28.8px;
  font-weight: 600;
  font-size: 24px;
  color: #000;
 
}
.service-content p{
  margin-top: 15px;
  text-align: left;
  line-height: 26.6px;
  font-weight: 400;
  font-size: 14px;
  color: #101a31;
width: 73%;
}
/*-------------------video-------------------------*/
.media {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 150px;
  margin-bottom: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  display: block;
}

/* Play button positioned at the top center */
.play-button {
  position: absolute;
  top: 50%; /* Adjusted to be at the top */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.play-button::before {
  content: '\25B6'; /* Unicode play icon */
  color: white;
  font-size: 30px;
}

.hidden {
  display: none;
}


/*------------------------contact--------------------------*/
.contact {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.contact-head {
  margin-top: 90px; 
  padding-bottom: 50px;
}

.contact-body {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.insta-container {
  position: relative;
  width: 550px;
  height: 500px;
}

.insta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.insta-container:hover .insta {
  opacity: 0.5;
}

.insta-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 10%;
  background: url("images/camera.png") center/contain no-repeat;
  filter: invert(1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.insta-container:hover::after {
  opacity: 1;
}
/*--------------------------footer------------------------------------*/
footer{
  height: 650px;
  margin:  auto;
  bottom: 0;
  width: 100%;
  background:url(images/footer-bg.png);
  background-size: cover;
  background-position: center;
  position: relative;

}

.footer-img{

  width: 62%;
position: absolute;
left: 0;
bottom: 0;
height: 540px;
}
.footer-img img{
  
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.footer-first-column, .footer-second-column,.footer-img {
  position: absolute;
display: inline-block;
text-align: start;
}
.footer-first-column{
  top:16%;
  left: 63%;
}
.footer-second-column{
  
  top:17%;
  left: 80%;
  margin-left: 20px;
  text-align: start;
}
.footer-links ul {
  margin-top: 20%;
  
}
.footer-links ul li {
  margin-bottom: 10%;
  
}
.footer-links ul li a{

  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.footer-first-column-bg{
  height: 32px;
  width: 105px;

}
.footer-first-column-bg img{
  height: 100%;
  width: 100%;
}
.footer-first-column-data{
  margin-top: 30px ;

}
.footer-first-column .footer-first-column-data h4{
font-size: 20px;
line-height: 28.8px;
color: #fff;
font-weight: 400;
width: 60%;
padding-bottom: 12%;
}
.footer-first-column .footer-first-column-data h3 a{

  color: #be9278;
  font-size: 26px;
  line-height: 39px;
  font-weight: 300;
}

.footer-first-column .footer-first-column-data p a{

  color: #be9278;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
.footer-first-column .footer-first-column-data p:hover,h3:hover{
  text-decoration: underline;
  color: #be9278;
}

.footer-first-column ul{
  margin-top: 30px;
  list-style-type: none;
  display: inline-block;
}
.footer-first-column ul li{
  display: inline-block;

  width: 45px;
  height: 45px;
  background-color: #18213f;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  align-items: center;
  
}
.footer-first-column ul li:hover {
  background-color: #be9278;
}

/* Default image styles */
.footer-first-column ul li img {
  height: 40%;
  width: 40%;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Apply image hover effect when hovering over <li> */
.footer-first-column ul li:hover img {
  filter: brightness(0);
  transform: rotateY(-180deg);
}


.footer-second-column h4{
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
  color: #be9278;
}
.footer-second-column ul{
  list-style-type: none;

}
.footer-second-column ul li:hover  a {
  text-decoration: underline;
  color: #be9278;
}
/*-------------------------------------slider------------------------*/

.feedback-container {
  width: 50%;
  top: 50%;
  left: 20%;
  margin-top: 100px;
  margin-bottom: 5px;
  height: 80vh;
  position: relative;
  overflow: hidden; 
}

.feedback {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  transition: transform 1s;
  display: inline-block;
}
.feedback-container .content-text{
  width:100%;
  margin :20 auto;
  color:#010A44;
  font-family: "Montserrat" "sans-serif";
  font-size:19px;
  margin-bottom: 10%;
  height: 28vh;
  font-weight : 400;
  background-image:url("./images/quotes-sign.png")  ;
  background-repeat: no-repeat; 
  position: relative;
}


.feedback-container .content-text p{
  position: absolute;
  top: 55%;
  left: 14%;

}

.person-info{
  width:100%;
  margin :20 auto;
  position: relative;
}


.feedback-container .first-p{color:black;
position: absolute;
left:23%;
top:22%;
}
.feedback-container .second-p{
  color:#bbb;
  position: absolute;
  left:23%;
  top:38%; 
}

@keyframes goRight{
  0%{
    translate: 0%;
  }
  50%{
    translate: 150%;
  }

  50%{
    translate:-100%;
  }
}

.right,
.left {
  color: #ffefe8;
  background-color: #fff;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width:30px;
  height:30px;  
  display:inline-block;
  font-size: 30px;
  cursor: pointer;
  bottom:28%;
}

.left{
  position: absolute;
  bottom: 0;
  right: 5%;
  margin-right: 4%;
  display:inline-block;
  bottom:28%;

}